<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script src="js/rootbeer-0.0.1.js"></script>
</head>
<body>

<div data-role="page">
  <div data-role="header">
    <h1>My Root Beer</h1>
  </div>

  <div data-role="main" class="ui-content">
    <p>Welcome!!</p>
  </div>

  <div data-role="footer">
    <h1>Copyright 2015-2016 by Daniel Wolf. <p>All Rights Reserved.</p></h1>
  </div>
</div>

</body>
</html>
